
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BING SHOP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/BuildSchool-MVC/Bing-Shop/master/Image/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://raw.githubusercontent.com/BuildSchool-MVC/Bing-Shop/master/Image/favicon.ico" type="image/ico" sizes="192x192" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/common.css">
    <link rel="stylesheet" href="~/Content/style1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/script1.js"></script>
</head>
<body style="font-family:微軟正黑體;width:99%">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a href="/">
            <img src="https://github.com/BuildSchool-MVC/Bing-Shop/blob/master/Image/Logo.png?raw=true" style="position: absolute;top:2%;left:0 ;">
        </a>
        <nav class="navbar navbar-expand-lg navbar-light" style="right: 12%;">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Clothes">
                            <img src="https://png.icons8.com/ios/50/333333/t-shirt-filled.png" style="width: 20px;"> CLOTHES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Pants">
                            <img src="https://png.icons8.com/ios/50/333333/trousers-filled.png" style="width: 20px;"> PANTS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Accessories">
                            <img src="https://png.icons8.com/windows/50/333333/necklace.png" style="width: 20px;"> ACCESSORIES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Shoes">
                            <img src="https://png.icons8.com/ios/50/333333/women-shoe-side-view-filled.png " style="width: 18px;"> SHOES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Bags">
                            <img src="https://png.icons8.com/material/50/333333/shopping-bag.png" style="width: 18px;"> BAGS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-user fa-2x"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Log/Login">會員中心</a>
                    <a class="dropdown-item" href="">修改會員資料</a>
                    <a class="dropdown-item" href="">登出</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-cart-plus fa-2x "></i>
                    <span class="badge badge-light">0</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/shoppingcart/detail">結帳</a>
                </div>
            </div>
        </nav>
    </nav>
    @RenderBody()
    <br /><br /><br /><br /><br />
    <footer class="baseFooter" style="height: 200px;background-color: #eeeeeeda;">
        <div class="row mt-3">
            <div class="col">
                <div class="footer__contact">
                    <div class="footer__contact__title"><h5>Service</h5></div>
                    <div class="footer__contact__content">客服信箱 service@blingShop.com</div>
                    <div class="footer__contact__content">客服電話 03-123456</div>
                    <div class="footer__contact__content">週一至週五 9:00-12:00 13:00-18:00</div>
                </div>
            </div>
            <div class="col">
                <div class="footer__newsletter">
                    <label class="footer__newsletter__title">Newsletter 訂閱電子報</label>
                    <input class="footer__newsletter__txt" type="text" placeholder="E-MAIL" id="newsletter" name="newsletter">
                    <button type="button" class="btn btn-secondary">Enter</button>
                    <div class="footer__newsletter__desc">Enter E-mail to subscribe to our newsletter</div>
                </div>
                <a href="#">
                    <div style="font-size:3em; color:rgb(24, 23, 23)">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-line"></i>
                    </div>
                </a>
            </div>
        </div>
        <p style="text-align:center">©2018 2018 BingTeam. All rights reserved.</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
