
@{
    ViewBag.Title = "customer";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg" style="text-align:center;">
                <button type="button" class="btn btn-primary">新增客戶</button>
            </div>
            <div class="col-lg" style="text-align:center;">
                <button type="button" class="btn btn-success">修改客戶資料</button>
            </div>
            <div class="col-lg" style="text-align:center;">
                <button type="button" class="btn btn-danger">刪除客戶</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3 class="title-5 m-b-35">客戶管理</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">排序方式</option>
                                <option value="">客戶ID</option>
                                <option value="">客戶姓名</option>
                                <option value="">帳號</option>
                                <option value="">生日</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="table-data__tool-right">
                        <button type="button" class="btn btn-secondary">
                            <i class="fas fa-search"></i> 搜尋商品
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-center">客戶ID</th>
                                <th class="text-center">客戶姓名</th>
                                <th class="text-center">帳號</th>
                                <th class="text-center">生日</th>
                                <th class="text-center">電話</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">購物金</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Bill</td>
                                <td class="text-center">20368</td>
                                <td class="text-center">2018-11-11 00:00:00.000</td>
                                <td class="text-center">0123544</td>
                                <td>4537886</td>
                                <td class="text-center">0.0000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

