
@{
    ViewBag.Title = "Pants";
    Layout = "~/Views/Shared/Main.cshtml";
}

@{
    int count = Convert.ToInt32(ViewData["count"]);
    int k = 0;
    var list = ViewData["list"] as List<ModelsLibrary.DtO_Models.Products>;
    var photo_list = ViewData["photo_list"] as List<ModelsLibrary.DtO_Models.ProductPhoto>;
}
<div class="container-fluid">
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
            <form action="/Category/Search" class="form-inline offset-6">
                <div class="dropdown mr-3">
                    <button class="btn btghn-lit dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        商品排序
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">上架時間:由新到舊</a>
                        <a class="dropdown-item" href="#">上架時間:由舊到新</a>
                        <a class="dropdown-item" href="#">價格:由高至低</a>
                        <a class="dropdown-item" href="#">價格:由低至高</a>
                    </div>
                </div>
                <input name="SearchStr" class="form-control mr-sm-4 mr-3" type="text" placeholder="Search" aria-label="Search">
                <button type="submit" id="Search">
                    <i class="fas fa-search fa-2x" style="color: black;"></i>
                </button>
            </form>
            <br />
            @while (true)
            {
                <div class="row">
                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="col-2">
                            <div class="product">
                                <a href="/Product/@list[k].ProductName">
                                    <img src=@photo_list[k].PhotoPath />
                                </a>
                            </div>
                            <span>
                                <small>@list[k].ProductName</small>
                            </span>
                            <p>
                                <b>NT$@list[k].UnitPrice</b>
                            </p>
                        </div>
                        k = k + 1;
                        count = count - 1;
                        if (count == 0) { break; }
                    }
                </div>
                if (count == 0) { break; }
            }
        </div>
    </div>
</div>


