
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Main.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div style="text-align:center;">
        <button type="button" class="btn btn-dark btn-lg">會員登入</button>
        <a class="btn btn-light btn-lg" href="/Log/Signup">註冊會員</a>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <br />
                <br>
                <br>
                <br>
                <div class="form-group row">
                    <label for="inputAccount" class="col col-form-label">會員帳號：</label>
                    <div class="col-sm-9">
                        <input name="User" type="text" class="form-control" id="inputAccount" placeholder="Account">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">會員密碼：</label>
                    <div class="col-sm-9">
                        <input name="Password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-dark" style="width: 100px">登入</button>
                    </div>
                    <div class="col-3 text-right">
                        <a class="btn btn-primary" href="/Log/auth"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
        
        
    }
</div>

