
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Main.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div style="text-align:center;">
        <button type="button" class="btn btn-dark btn-lg">會員登入</button>
        <a class="btn btn-light btn-lg" href="/Log/Signup">註冊會員</a>
    </div>
    <div class="row">
        <div class="col-3">


        </div>
        <div class="col-6">
            <br />
            <br>
            <br>
            <br>

            <div class="form-group row">
                <label for="inputAccount" class="col-sm-3 col-form-label" style="text-align: right;">會員帳號：</label>
                <div class="col-sm-9">
                    <input type="Account" class="form-control" id="inputAccount" placeholder="Account">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align: right;">會員密碼：</label>
                <div class="col-sm-9">
                    <input type="Password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>

        </div>
        <div class="col-3">

        </div>
    </div>
    <br>
    <div style="text-align:center;">
        <a href="Member.html" class="btn btn-dark" style="width: 100px">登入</a>
    </div>
</div>

