
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/Main.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div style="text-align:center;">
        <a href="/Log/Login" class="btn btn-light btn-lg">會員登入</a>
        <button type="button" class="btn btn-dark btn-lg">註冊會員</button>
    </div>
    <div class="row">
        <div class="col-3">


        </div>
        <div class="col-6">
            <br />
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label" style="text-align: right;">姓&emsp;&emsp;名：</label>
                <div class="col-sm-9">
                    <input type="Name" class="form-control" id="inputPassword" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAccount" class="col-sm-3 col-form-label" style="text-align: right;">會員帳號：</label>
                <div class="col-sm-9">
                    <input type="Account" class="form-control" id="inputAccount" placeholder="Account">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align: right;">會員密碼：</label>
                <div class="col-sm-9">
                    <input type="Password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCheckPassword" class="col-sm-3 col-form-label" style="text-align: right;">確認密碼：</label>
                <div class="col-sm-9">
                    <input type="CheckPassword" class="form-control" id="inputCheckPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label" style="text-align: right;">電子郵件：</label>
                <div class="col-sm-9">
                    <input type="Email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputBirthday" class="col-sm-3 col-form-label" style="text-align: right;">生&emsp;&emsp;日：</label>
                <div class="col-sm-9">
                    <input type="Birthday" class="form-control" id="inputBirthday" placeholder="Birthday">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label" style="text-align: right;">電&emsp;&emsp;話：</label>
                <div class="col-sm-9">
                    <input type="Phone" class="form-control" id="inputPhone" placeholder="Phone">
                </div>
            </div>

        </div>
        <div class="col-3">

        </div>
    </div>
    <br />
    <div style="text-align:center;">
        <a href="#" type="submit" class="btn btn-dark" style="width: 100px">加入會員</a>
    </div>
</div>


