
@{
    ViewBag.Title = "order";
    Layout = "~/Views/Shared/Main.cshtml";
}

<br>
<br>
<br>
<br>
<br>
<div class="step-container" style="margin-top: 25px; margin-left: 15%;">
    <div class="step7" style="text-align:center;">
        <span style="font-size:30px;">購物車明細</span>
    </div>
    <div class="step8" style="text-align:center;">
        <span style="font-size:30px;">付款與運送方式</span>
    </div>
    <div class="step9" style="text-align:center;">
        <span style="font-size:30px;">訂單成立</span>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col">
            <p class="lead">已完成訂單，訂單編號為<span>xxxxxxxx</span></p>
            <p class="lead">非常感謝您購買BING SHOP的商品</p>
            <p class="lead">如果想查詢訂單，可以至<a href="#">會員中心</a>查詢訂單狀態。</p>
            <br />
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Thank-you-word-cloud.jpg" style="width:500px">
        </div>
    </div>
</div><br /><br /><br />

