
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="title-5 m-b-35">查詢機器人</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <img src="http://qr-official.line.me/L/RSHUsKRKVM.png">
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>
