
@if (ViewBag.Log == false)
{
    <a class="dropdown-item" href="/Log/Login">登入</a>
}
else
{
    <a class="dropdown-item" href="/Log/Login">會員中心</a>
    <a class="dropdown-item" href="">修改會員資料</a>
    <a class="dropdown-item" href=@Url.Action("Logout", "Login")>登出</a>
}
