
@if (ViewBag.Log == false || ViewBag.Log == null)
{
    <a class="dropdown-item" href="/Log/Login">登入</a>
}
else if (ViewBag.Log == true)
{
    <a class="dropdown-item" href="/Member/SearchMember">會員中心</a>
    <a class="dropdown-item" href="/Member/UpdateMember">修改會員資料</a>
    <a class="dropdown-item" href=@Url.Action("Logout", "Login")>登出</a>
}
