
@{
    ViewBag.Title = "AdminProductAdd";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}

<style>
    .table td,
    .table th {
        vertical-align: baseline;
    }
</style>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <h3>新增產品</h3>
        <br>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-center">產品名稱：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">上架時間：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">類別編號：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">單&emsp;&emsp;價：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">庫&emsp;&emsp;存：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">尺&emsp;&emsp;寸：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">顏&emsp;&emsp;色：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">說&emsp;&emsp;明：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">圖&emsp;&emsp;片：</td>
                            <td class="text-center">
                                <input type="text" class="form-control" name="ProductName">
                            </td>
                            <td>
                                <input type="file" class="btn" name="upload" size="20" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
            </div>
            <div class="col mt-5 mb-5" style="text-align: left;">
                <a href="/Admin/Product" class="btn btn-primary mr-2">
                    <i class="fas fa-check"></i>&ensp;確認
                </a>
                <a href="/Admin/Product" class="btn btn-danger mr-2">
                    <i class="fas fa-times"></i>&ensp;取消
                </a>
            </div>
        </div>
    </div>
</div>